html {
  --basefg: white;
  --basebg: rgb(8,121,191);
  --link: var(--basebg);
  --header-color: var(--basebg);
}
body>header{
  /* margin-top:48px; */
  background: url(/img/top-bg.jpg);
  z-index:1;
}
body>header>article {
  background: url(/img/logo-proving.png) no-repeat 0 20px;
  height:200px;
  /* height:100px; */
}
