html {
  --basefg: white;
  --basebg: rgb(8,121,191);
  --link: var(--basebg);
  --header-color: var(--basebg);
}
body {
  background-color: var(--trans2);
}

.doc-content ol {
  list-style: none;
  padding: 0;
}
.doc-content>ol>li {
  --shadow: 0px 0px 10px 0px rgba(140,140,140,0.5);
  background-color: white;
  margin: 40px 0;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}
.doc-content>ol>li>b {
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--basebg);
  color: white;
  display: block;
  font-size: 2em;
}
.doc-content>ol>li>ul {
  margin: 0 0 20px 0;
  padding: 20px;
}
.doc-content img {
  max-width: 40%;
}
.doc-content>ol>li>ul {
  list-style: none;
}
.doc-content>ol>li>ul>li>ul {
  list-style: none;
}
.doc-content>ol>li>ul>:nth-child(1) {
  display: flex;
}
.doc-content>ol>li>ul>:nth-child(2) {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 3em;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  left: 50px;
  bottom: -20px;
}
.doc-content>ol>li>ul>:nth-child(2)>ul {
  font-size: 0.3em;
  text-transform: uppercase;
  background-color: var(--basebg);
  color: white;
  padding: 20px;
  position: absolute;
  display: inline-block;
  bottom: 0px;
  left: 120%;
  text-align: center;
  border-radius: 50px;
}
