<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".yaml" />
      <mimeMap fileExtension=".yaml" mimeType="text/plain; charset=utf-8" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="404.html" />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
