@page {
  margin: 10mm 10mm 30mm 10mm;
}
body {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  padding: 0;
  margin:0;
  /* padding-left: 1cm; */
  align-items: center;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 10pt;
  margin: auto;
  background: white;
  /* table-layout: fixed; */
}
.herinner {
  background: #DF554A;
  width: 400px;
  padding: 10px;
  position: fixed;
  top: -100px;
  right: -230px;
  transform: rotate(40deg);
  color: white;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  border: solid 5px #AB312B;
}
.herinner:after {
  content: "NIET BETAALD";
}
/* @media not print {
  body {
    background: #eee;
  }
} */
/* @font-face {
  font-family: barcode;
  src: url('fonts/Code39Azalea.eot') format('embedded-opentype'), url('fonts/Code39Azalea.woff') format('woff'), url('fonts/Code39Azalea.ttf') format('truetype'), url('fonts/Code39Azalea.svg#Code39Azalea') format('svg');
  font-weight: normal;
  font-style: normal;
} */
* {
  position: relative;
}
label {
  font-size: 8pt;
  display: block;
  position: center;
}

td,th {
  vertical-align: top;
}
table.grid {
  margin-top:2mm;
}
table.grid td, table.grid th {
  border: solid 1px black;
  padding: 2px 5px;
  font-weight: normal;
}

table.grid td {
  white-space: nowrap;
}
table.grid th {
  /* font-style: italic; */
  font-size: 0.8em;
  /* color: gray; */
}

h1 {
  margin-top: 0;
}
h2 {
  font-weight: 400;
}
.np {
  page-break-before: always;
}
div.header {
  position: fixed;
  top: 0;
  width: 100%;
}
@font-face {
  font-family: barcode;
  /* src: url('https://aliconnect.nl/sdk@0.0.8/dist/font/Code39Azalea.ttf') format('truetype');
  src: url('https://aliconnect.nl/sdk@0.0.8/dist/font/fre3of9x.ttf') format('truetype'); */
  src: url('https://aliconnect.nl/sdk@0.0.8/dist/font/barcode39.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mono';
  font-weight: normal;
  src: url('https://aliconnect.nl/sdk@0.0.8/dist/font/consola.ttf') format('truetype');
}
@font-face {
  font-family: 'mono';
  font-weight: bold;
  src: url('https://aliconnect.nl/sdk@0.0.8/dist/font/consolab.ttf') format('truetype');
}
/* @font-face {
  font-family: barcode;
  src:
  url('https://aliconnect.nl/sdk/src/font/Code39Azalea.eot') format('embedded-opentype'),
  url('https://aliconnect.nl/sdk/src/font/Code39Azalea.woff') format('woff'),
  url('https://aliconnect.nl/sdk/src/font/Code39Azalea.ttf') format('truetype'),
  url('https://aliconnect.nl/sdk/src/font/Code39Azalea.svg#Code39Azalea') format('svg');
  font-weight: normal;
  font-style: normal;
}
 */
.bc{
  font-family:barcode;
  font-size: 8mm;
  /* font-size:30mm; */
  display:inline-block;
  height:12mm;
  overflow:hidden;
}

th,td{
  vertical-align: top;
  text-align: left;
}
th {
  background: #eee;
  font-weight: normal;
  font-size: 0.9em;
}
.datum,.facnr,.nr,.debnr {
  /* width: 26mm; */
  text-align: right;
  white-space: nowrap;
}
table.noborder td {
  border: none;
  padding: 0 10px 0 0;
}
table.grid ul {
  margin:0;
}

.border td,.border th {
  border: solid 1px black;
  padding: 0 3px;
}
.border.summary {
  width:100%;
  white-space:nowrap;
}
.border.summary th {
  min-width: 26mm;
}
.border.summary td {
  min-width: 20mm;
}
