html {
  --basefg: white;
  --basebg: rgb(8,121,191);
  --link: var(--basebg);
  --header-color: var(--basebg);
}
body>header{
  /* margin-top:48px; */
  background: url(/assets/img/top-bg.jpg);
  z-index:1;
}
body>header>article {
  background: url(/assets/img/logo-proving.png) no-repeat 0 20px;
  height:200px;
  /* height:100px; */
}
/* .cards.cols>div span:not(:empty)::after {
  content: ' ';
} */
.cards.cols>div span.orderCode,
.cards.cols>div span.supplier {
  font-size: 0.8em;
}
.cards.cols>div span.supplier::before {
  content: '\A';
}
body.lv td {
  border: solid 1px var(--trans5);
  font-family: consolas;
}
