<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="api_root" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="proving-nl/proving-nl.github.io/api/index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/proving-nl/proving-nl.github.io/api/index.php" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
